<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434645959716-im468dtupusv8ul98ntr9c90itqmb2gi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434645959716-im468dtupusv8ul98ntr9c90itqmb2gi</string>
	<key>API_KEY</key>
	<string>AIzaSyC4X2_V_oEFmZrH_sdLpw2QLstJIGPDiKU</string>
	<key>GCM_SENDER_ID</key>
	<string>434645959716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kleitonmendes.M21-Firebase</string>
	<key>PROJECT_ID</key>
	<string>m21-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>m21-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434645959716:ios:e8a1aed2ac3c37079044b1</string>
</dict>
</plist>